@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>This site contains the amazing film collection of Joel Hilton. Here is your buddy Joel...</p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<br />
<br />

<div>
    <a asp-controller="Home" asp-action="AddMovie">Add a movie to his collection</a>
</div>